*.fits
*.con
*.log
*.png
*.last

# vim
*.swp

# Python
*.pyc
__pycache__
.ipynb_checkpoints

# other sampling results
nested-sampling-wrong-baselines

# config file (only the template goes into the repo)
config.py
